* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

body {
    max-width: 1280px;
    margin: auto;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main -- feito por Juan Pedroza >>>>>>>>>>>>>>>>>>>>>>> */

.mobile-menu img {
    display: none;
}

.fundo-claro {
    height: 960px;
    background-color: #DCE9ED;
}

.separador {
    width: 1280px;
    height: 7px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), #132235, rgba(0, 0, 0, 0.2));
    background-size: auto;
}

.nossos-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossos-servicos-titulo h2 {
    color: #132235;
    font-size: 7em;
    padding: 40px 0 40px 0;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.kitnets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.kitnet-container img {
    width: 70%;
}

.kitnet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.kitnet-content h3 {
    font-size: 3.6em;
    color: #132235;
    font-weight: 800;
}

.kitnet-content p {
    text-align: center;
    width: 470px;
    height: 102px;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.25;
    padding-top: 20px;
}

.republica-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.republica-container img {
    width: 60%;
}

.republica-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.republica-content h3 {
    font-size: 3.6em;
    color: #132235;
    font-weight: 800;
}

.republica-content p {
    text-align: center;
    width: 470px;
    height: 102px;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.25;
    padding-top: 20px;
}

.testimonials-fundo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(img/Testimonial-foto.png);
    height: 755px;
}

.fundo-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-content {
    display: flex;
    gap: 60px;
    padding-bottom: 65px;
}

#texto-test-sarah {
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
}

#texto-test-john {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.primeiro-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 550px;
    text-align: center;
}

.segundo-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 550px;
    text-align: center;
}

.testimonial-nome {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

.foto {
    width: 110px;
}

.estrela {
    padding-top: 10px;
    width: 60px;
}

.cidade {
    padding: 3px;
    color: rgb(218, 218, 218);
    font-size: 1.2em;
}

.texto {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
}

.botao-espaco {
    display: flex;
    padding-bottom: 8px;
}

.veja-mais {
    width: 50px;
    height: 50px;
    border: 3px solid #6DDAd3;
    border-radius: 50%;
}

.veja-mais p {
    font-size: 1.4em;
    width: 25px;
    color: #fff;
    padding: 7px 0 0 10px;
}

.veja-mais a {
    text-decoration: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main -- feito por Juan Pedroza >>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width: 400px) {
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main Mobile -- feito por Juan Pedroza >>>>>>>>>>>>>>>>>>>>>>> */

.fundo-claro {
    height: 785px;
}
    
.separador {
        width: 380px;
        height: 4px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), #132235, rgba(0, 0, 0, 0.2));
        background-size: auto;
    }

    .nossos-servicos-titulo h2 {
        font-size: 3.4em;
    }

    .kitnets-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .kitnet-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kitnets-container img {
        width: 245px;
        order: 1;
    }

    .kitnet-content h3 {
        font-size: 2.6em;
    }

    .kitnet-content p {
        font-size: 1.6em;
        order: 0;
        width: 300px;
    }

    .republica-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .republica-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }

    .republica-container img {
        width: 245px;
        order: 1;
    }

    .republica-content h3 {
        font-size: 2.6em
    }

    .republica-content p {
        font-size: 1.6em;
        order: 0;
        width: 300px;
    }

    .testimonials-fundo {
        background: #132235;
        width: 375px;
        height: 300px;
        background-image: url(img/Quadrado.svg);
        background-repeat: no-repeat;
        background-position: center top;
    }

    .testimonials-content {
        gap: 30px;
        padding-bottom: 0;
    }

    .primeiro-testimonial {
        width: 100px;
        height: 255px;
        text-align: center;
    }

    .segundo-testimonial {
        width: 110px;
        height: 255px;
        text-align: center;
    }

    .foto {
        width: 57px;
    }

    .estrela {
        width: 40px;
    }

    .testimonial-nome {
        font-size: 1em;
    }

    .cidade {
        font-size: 0.8em;
    }

    .texto {
        font-size: 0.85em;
    }

    .veja-mais {
        width: 25px;
        height: 25px;
        border: 1px solid #6DDAd3;
        border-radius: 50%;
    }

    .veja-mais p {
        font-size: 0.7em;
        width: 15px;
        color: #fff;
        padding: 3px 0 0 5px;
    }

    #texto-test-john {
        margin-top: 55px;
    }

    #texto-test-sarah {
        margin-top: 25px;
    }    
}
    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main Mobile -- feito por Juan Pedroza >>>>>>>>>>>>>>>>>>>>>>> */