* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 1280px;
    margin: auto;
}

/* Codigo do Header */
header {
    display: grid;
    grid-template-columns: 50% 12.5% 12.5% 12.5% 12.5%;
    align-items: center;
    grid-template-rows: 90px;
    background: #132235;
    height: 90px;
    font-size: 18px;

}

.mobile {

    display: none;
}


.logo {

    width: 150px;
    margin: 25px;


}

.menu-cabecalho {

    color: #fff;
    margin: 5px;
    text-decoration: none;


}


/* Codigo do bloco FOTO  */
.texto {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 85px;
}

.inicio-do-site {
    background-image: url(img/Foto_Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 365px;
    color: #fff;
    right: 365px;
    border-top: 3px solid rgba(109, 218, 211, 0.5);
    border-bottom: 10px solid rgba(109, 218, 211, 0.5);

}

#titulo {

    width: 1000px;
    font-size: 30px;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

#texto-menor {

    width: 400px;
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: 400;
    line-height: 1.6;
}

/* Codigo do botão  */
#saiba-mais a:hover {
    border: white;
    color: #132235;


}

#saiba-mais a {

    text-decoration: none;
    color: #132235;
    font-size: 15px;
    background: #6DDAD3;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid #fff;

}

/* Codigo bloco quem somos */
.fundo {

    background: #DCE9ED;
}

.quem-somos {

    display: flex;
    justify-content: space-evenly;

    color: #132235;
    padding: 100px;
    line-height: 1.6;


}

/* Configuração de tamanho bloco de texto */

.quem-somos-texto {

    display: flex;
    flex-direction: column;


}

.titulo-quem-somos {
    font-size: 80px;
    padding-bottom: 25px;
    text-align: center;
    text-shadow: 2px 2px 5px;

}

.texto-quem-somos {

    font-size: 25px;


}

@media screen and (max-width: 375px) {

    .fundo {

        background: #DCE9ED;
        height: 500px;
    }

    .mobile {
        display: flex;
        
    }

    .teste {

        display: flex;
        width: 375px;
        justify-content: space-between;

    }

    .menu-cabecalho {
        display: none;

    }

    .inicio-do-site {

        background: linear-gradient(87.45deg, #132235 37.51%, #18365B 150.31%);
        border-top: none;
        height: 400px;
    }

    .texto {
        padding: 20px 0 0 22px;
    }

    .quem-somos {
        padding: 20px;
        flex-direction: column;

    }

    .titulo-quem-somos {
        text-align: left;
        font-size: 45px;

    }

    .texto-quem-somos {
        font-size: 18px;

    }

    .quem-somos img {
        display: none;


    }

    #text-1 {
        width: 250px;


    }

    #titulo-2 {

        width: 340px;
        font-size: 32px;
    }

    .quem-somos-texto {

        width: 350px;
    }


}

/* Aqui termina o codigo da Cris */